    .navbar {
        margin-left: 10px;
    }

    .textA {

        position: absolute;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
        font-feature-settings: "liga"0, "calt"0;
        line-height: auto;
        letter-spacing: 0px;
        width: 99.9%;
        height: 90%;
        color: #7c9473;
        background-color: #e8eae6;
        border: 0px solid black;
        padding: 10px;
        font-size: 17px;
        margin: 1px;
    }

    .textA {
        outline: none;
    }

    body {
        background-color: #e8eae6;
    }

    .mainP {
        color: #7c9473;
        font-size: 16px;
    }